.articles {
    max-width: 1280px;
    margin: 64px auto 32px auto;
    color: var(--black-color);
}

.first-article, .second-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

.title-first-article, .text-first-article, .text-second-article, .title-second-article {
    font-weight: 300;
}

.title-first-article, .title-second-article {
    font-size: 36px;
    margin-bottom: 24px;
    width: 500px;
}

.text-first-article, .text-second-article {
    width: 500px;
    font-size: 22px;
    line-height: 1.6;
}

.image-work {
    width: 700px;
}

.image-work2 {
    border: solid 2px var(--blue-color);
    border-radius: 8px;
    width: 650px;
}

.bold-text {
    font-weight: bold;  
}

@media only screen and (max-width: 1440px) {
    .text-first-article, .text-second-article {
        font-size: 16px;
        width: 400px;
    }

    .image-work {
        width: 550px;
    }
    
    .image-work2 {
        width: 500px;
    }

    .first-article, .second-article {
        justify-content: space-evenly;
    }

    .title-first-article, .title-second-article {
        font-size: 32px;
        width: 400px;
    }
}

@media only screen and (max-width: 1100px) {
    .articles {
        width: 90%;
    }
    .image-work {
        width: 400px;
    }
    
    .image-work2 {
        width: 350px;
    }
    .title-first-article, .title-second-article {
        font-size: 28px;
        margin-bottom: 8px;
        width: 400px;
    }

    .text-first-article, .text-second-article {
        font-size: 14px;
        width: 350px;
    }
    .title-first-article, .text-first-article, .text-second-article, .title-second-article {
        font-weight: 500;
    }
}

@media only screen and (max-width: 912px) {
    .first-article, .second-article {
        display: flex;
        height: 400px;
    }
    .text-first-article, .text-second-article {
        font-size: 14px;
        width: 350px;
    }
}

@media only screen and (max-width: 786px) {
    .articles {
        width: 85%;
    }
    
    .text-first-article, .text-second-article {
        font-size: 14px;
        width: 280px;
    }
    .title-first-article {
        width: auto;
    }
    .title-second-article {
        width: 300px;
    }

    .image-work {
        width: 330px;
    }
    
    .image-work2 {
        width: 280px;
    }
    .first-article, .second-article {
        justify-content: space-between;
    }
}