.body-top-div {
    max-width: 1280px;
    color: var(--white-color);
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: auto;
    padding-left: 192px;
    height: calc(100vh - 96px);
}

.body-top-text {
    max-width: 800px;
    font-size: 72px;
    margin: 192px 0 52px 0;
    text-align: left;
}

h1 {
    font-size: 40px;
    margin-bottom: 72px;
    text-align: left;
}

.body-button-contact, .body-button-projects {
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.body-button-projects {
    height: 64px;
    width: 192px;
    margin-right: 24px;
    background: lightgray;
}

.body-button-projects:hover {
    background: var(--white-color);
}

.body-button-contact {
    height:  64px;
    width: 384px;
    background: var(--red-color);
    color: var(--white-color);
}

.body-button-contact:hover {
    background: rgba(180, 41, 53, 1);
}

.body-button-contact:active, .body-button-projects:active {
    transform: scale(0.9);
}


@media only screen and (max-width: 1440px) {

    .body-top-div {
        max-width: 1050px;
    }

    h1 {
        font-size: 36px;
    }    

    .body-top-text {
        font-size: 64px;
        margin: 144px 0 42px 0;
    }

}

@media only screen and (max-height: 678px) {
    .body-top-div {
        height: calc(100vh - 64px);
    }

    .body-top-text {
        margin: 100px 0 42px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .body-top-text {
        font-size: 48px;
        max-width: 500px;
        margin-bottom: 24px;
    }
    h1 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .body-button-projects {
        height: 44px;
        width: 144px;
    }
    .body-button-contact {
        height: 44px;
        width: 192px;
    }
    .body-button-contact, .body-button-projects {
        border-radius: 4px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 912px) {
    .body-top-div {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .body-top-text {
        margin: 0 0 42px 0;
        text-align: center;
        font-size: 81px;
        max-width: 80%;
    }
    h1 {
        font-size: 44px;
    }
    .body-button-projects {
        height: 64px;
        width: 192px;
    }
    .body-button-contact {
        height: 64px;
        width: 384px;
    }
    .body-button-contact, .body-button-projects {
        font-size: 20px;
    }
}

@media only screen and (max-width: 540px) {
    .body-top-text {
        font-size: 56px;
    }
    h1 {
        font-size: 32px;
        text-align: center;
    }
    .body-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .body-button-projects {
        margin-right: 0px;
    }
}