.header {
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-around;
    height: 96px;
    /* opacity: 95%; */
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-ul {
    display: flex;
    gap: 44px;
    align-items: center;
}

.header-nav-ul>li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
}

#navbar .navbar-link {
    position: relative;
    color: lightgray;
}

#navbar .navbar-link:after {
    content: "";
    position: absolute;
    background-color: var(--red-color);
    height: 2.5px;
    left: 0;
    width: 0;
    bottom: -8px;
    transition: 0.4s;
}

#navbar .navbar-link:hover:after {
    width: 100%;
}

#navbar .navbar-link:hover {
    color: white;
}

.header-logo {
    width: 8em;
}

@media only screen and (max-width: 1440px) {
    .header-nav-ul {
        gap: 32px;
    }
}

@media only screen and (max-height: 678px) {
    .header {
        height: 64px;
    }

    .header-logo {
        width: 5.5em;
    }

    a {
        font-size: 12px;
        letter-spacing: 2px;
    }
    
}