.header {
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-around;
    height: 96px;
    /* opacity: 95%; */
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-ul {
    display: flex;
    gap: 36px;
    align-items: center;
}

.header-nav-ul>li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 300;
}

.header-logo {
    width: 8em;
}