.projects {
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 auto ; 
    font-weight: 300;
    padding: 0 0 36px 0;
}

.mid-box {
    background: var(--blue-color);
    height: 300px;
    width: 100%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
}

.mid-box-intern {
    max-width: 1280px;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 460px;
}

.mid-box-intern-description {
    padding-bottom: 24px;
}

.mid-box-btn {
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    height: 64px;
    background: var(--red-color);
    color: var(--white-color);
    text-align: center;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(255,255,255,0.3);
}

.mid-box-btn:hover {
    background: rgba(180, 41, 53, 1);
}

.mid-box-btn:active {
    transform: scale(0.9);
}

.projects-block:first-child {
    margin-top: 36px;
}

.projects-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 400px;
    padding: 2em;
}

.projects-block:nth-of-type(3) {
    flex-direction: row-reverse;
}

.projects-title {
    font-size: 32px;
    font-weight: 500;
    color: var(--red-color);
}

.projects-description {
    margin: 0 auto;
}

.projects-subtitle {
    font-size: 28px;
    margin-bottom: 16px;
}

.projects-text {
    font-size: 20px;
    width: 400px;
    line-height: 1.6;
}

.projects-images {
    width: 550px;
    border-radius: 8px;
    box-shadow: -25px -25px var(--blue-color);
}

@media only screen and (max-width: 1440px) {
    .projects-block {
        padding: 0.5em;
    }
    .mid-box-intern {
        max-width: 1050px;
        gap: 300px;
        font-size: 16px;
    }

    .projects-title {
        font-size: 28px;
    }
    
    .projects-images {
        width: 400px;
        border-radius: 6px;
    }

    .projects-description {
        margin: 0;
    }

    .projects-block {
        justify-content: space-around;
        width: 1080px;
    }

}

@media only screen and (max-height: 678px) {
    .projects-block {
        height: auto;
    }
    .mid-box {
        height: 200px;
        }
}

@media only screen and (max-width: 1100px) {
    .mid-box-intern {
        max-width: 90%;
        gap: 180px;
        font-size: 16px;
    }

    .projects-block {
        width: 90%;
    }
}

@media only screen and (max-width: 912px) {
    .mid-box {
        height: 15rem;
    }
    .mid-box-intern {
        gap: 50px;
    }
    .projects-text {
        width: 340px;
    }
}

@media only screen and (max-width: 820px) {
    .projects {
        gap: 64px;
    }
    .projects-block {
        flex-direction: column;
        width: 80%;
        height: 550px;;
    }
    .projects-block:nth-of-type(3) {
        flex-direction: column;
    }
    .projects-text {
        width: 100%;
        margin-bottom: 8px;
    }
    .projects-images {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        width: 610px;
    }
}

@media only screen and (max-width: 540px) {
    .projects {
        gap: 24px;
    }

    .projects-images {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .projects-block {
        padding: 0;
        height: 480px;
    }
    .projects-text {
        font-size: 16px;
    }
}