.projects {
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    font-weight: 300;
    padding: 0;
}

.mid-box {
    background: var(--blue-color);
    height: 30vh;
    width: 100%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
}

.mid-box-intern {
    max-width: 1280px;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 460px;
}

.mid-box-intern-description {
    padding-bottom: 24px;
}

.mid-box-btn {
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    height: 64px;
    background: var(--red-color);
    color: var(--white-color);
    text-align: center;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(255,255,255,0.3);
}

.mid-box-btn:hover {
    background: rgba(180, 41, 53, 1);
}

.mid-box-btn:active {
    transform: scale(0.9);
}

.projects-block:first-child {
    margin-top: 36px;
}

.projects-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 400px;
    padding: 2em;
}

.projects-title {
    font-size: 32px;
    font-weight: 500;
    color: var(--red-color);
}

.projects-description {
    margin: 0 auto;
}

.projects-subtitle {
    font-size: 28px;
    margin-bottom: 16px;
}

.projects-text {
    font-size: 20px;
    width: 400px;
    line-height: 1.6;
}

.projects-images {
    width: 600px;
    border-radius: 5px;
}