@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,500;0,700;1,300&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --red-color: #DF2935;
  --blue-color: #101B28; 
  /* --blue-color: #0F161D; */
  --white-color: #FFFFFE;
  --gray-color: #8d8f99;
  --gold-color: #d3af6d;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.background-video {
  width: 100%;
  height: calc(100vh - 96px);
  float: left;
  top: 96px;
  padding: none;
  position: absolute;
  z-index: -999;
  object-fit: cover;
}